# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# This file designates users or teams responsible for code in the repository.
# Example:
# *       @github-username

*       @your-github-username
