name: resonate
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using flutter pub publish. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 3.0.0+7

environment:
  sdk: ">=3.9.0 <4.0.0"

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running flutter pub upgrade --major-versions. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run flutter pub outdated.
dependencies:
  animated_bottom_navigation_bar: ^1.4.0
  animated_splash_screen: ^1.3.0
  app_links: ^6.4.1
  appwrite: ^20.3.1
  audioplayers: ^6.5.1
  cached_network_image: ^3.4.1
  circular_countdown_timer: ^0.2.4
  cupertino_icons: ^1.0.8
  custom_refresh_indicator: ^4.0.1
  file_picker: ^10.3.6
  firebase_analytics: ^12.0.4
  firebase_core: ^4.2.1
  firebase_messaging: ^16.0.4
  flutter:
    sdk: flutter
  flutter_local_notifications: ^19.5.0
  flutter_native_splash: ^2.4.7
  flutter_onboarding_slider: ^1.0.11
  flutter_otp_text_field: ^1.5.1+1
  flutter_secure_storage: ^9.2.4
  flutter_speed_dial: ^7.0.0
  flutter_svg: ^2.2.2
  focused_menu: ^1.0.5
  font_awesome_flutter: ^10.12.0
  get: ^4.7.2
  get_storage: ^2.1.1
  google_fonts: ^6.3.2
  http: ^1.6.0
  image_cropper: ^11.0.0
  image_picker: ^1.2.1
  upgrader: ^12.3.0
  intl: ^0.20.2
  internet_connection_checker_plus: ^2.7.2
  language_picker: ^0.4.5
  livekit_client: ^2.5.3
  loading_animation_widget: ^1.3.0
  loading_indicator: ^3.1.1
  package_info_plus: ^9.0.0
  page_transition: ^2.2.1
  persistent_bottom_nav_bar: ^6.2.1
  random_string: ^2.3.1
  share_plus: ^12.0.1
  shimmer: ^3.0.0
  simple_progress_indicators: ^0.2.0
  stop_watch_timer: ^3.2.2
  textfield_tags:
    git:
      url: https://github.com/lionelmennig/textfield_tags.git
      ref: fixes/allow-controller-re-registration
  flutter_lyric:
    git:
      url: https://github.com/Aarush-Acharya/flutter_lyric.git
      ref: master
  url_launcher: ^6.3.2
  uuid: ^4.5.2
  audio_metadata_reader: ^1.4.2
  flutter_localizations:
    sdk: flutter
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0
  animated_rating_stars: ^1.0.1
  flutter_callkit_incoming: ^3.0.0
  meilisearch: ^0.17.1
  flutter_webrtc: ^1.2.0
  path_provider: ^2.1.5
  whisper_flutter_new: ^1.0.1
  ffmpeg_kit_flutter_new: ^4.1.0

dependency_overrides: 
  flutter_web_auth_2: ^5.0.0-alpha.3

dev_dependencies:
  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the analysis_options.yaml file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  build_runner: ^2.10.2
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

  freezed: ^3.2.3
  json_serializable: ^6.11.1
  mockito: ^5.5.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter packages.
flutter:
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/svg/
    - assets/mock/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Montserrat
      fonts:
        - asset: assets/fonts/Montserrat-Regular.ttf
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
