<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976246452686-pmdi0pqikf8m9jr3qt49kdmv0725pl07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976246452686-pmdi0pqikf8m9jr3qt49kdmv0725pl07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976246452686-d8pm6hj0cthoni2s8jof5es5eop4bn5b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYisByTvZXtKbv7otPenS7mUKqnFdakh8</string>
	<key>GCM_SENDER_ID</key>
	<string>976246452686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resonate.resonate</string>
	<key>PROJECT_ID</key>
	<string>resonate-6cb08</string>
	<key>STORAGE_BUCKET</key>
	<string>resonate-6cb08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976246452686:ios:daba9d27bd458402617b9f</string>
</dict>
</plist>